/*----Tesxt Animation----*/
.hero{
  display: flex;
}
.hero .static-txt{
  color: #fff;
  margin-left: 300px;
  margin-top: 10px;
  font-size: 60px;
  font-weight: 400;
}
.hero .dynamic-txts{
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
.dynamic-txts li{
  list-style: none;
  color: #d19cee;
  font-size: 60px;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}
@keyframes slide {
  100%{
    top: -360px;
  }
}
.dynamic-txt li span{
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}
span::after{
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: #202124;
  border-left: 2px solid #d19cee;
  animation: typing 3s steps(10) infinite;
}
@keyframes typing {
  40%, 60%{
    left: calc(100% + 0px);
  }
  100%{
    left: 0;
  }
}
img{
  margin-left: 800px;
  margin-top: -200px;
}
/*----About Me Section----*/
section h1, footer h1{
  margin-top: 200px;
  margin-right: 90px;
  font-size: 30px;
}

p.Text{
  color: aliceblue;
  margin-top: 30px;

}

/*--Project Section--*/


/*--Contact Me Section--*/
footer .FN{
  color: rgb(134, 128, 128);
  margin-left: 550px;
  font-size: 13px;
}